Нужно написать новый класс AzimuthSelector, унаследованный от QWidget. Требования описаны ниже.
1) Размер виджета должен быть фиксированным 150 * 150 пикселей. Однако внутренний код виджета должен содержать заданные в заголовке константы для высоты и ширины, а также код должен вычислять местоположение всех внутренних объектов класса относительно этих констант. Так чтобы было возможно легко менять размеры виджета и весь контент пропорционально уменьшался бы или увеличивался бы.
2) Фон виджета должен быть прозрачным, без всякой заливки.
3) Внутри виджета должна быть нарисована круговая траектория для движения источников звука. Эта траектория отображается кругом без заливки, нарисованным тонкой серой линией. Отступ от краёв виджета должен быть достаточным для отображения источников звука.
4) На круговой траектории должны быть изображены два источника звука, расположенные симметрично относительно вертикальной оси виджета. Каждый источник звука изображается в виде прямоугольника 12х8 пикселей с выходящим из него раструбом (равносторонним треугольником со стороной размером 12 пикселей). Источник звука должен иметь заливку светло-серым цветом. Основание источника (его прямоугольник) должен располагаться своим центром на линии траектории.  Источник должен всегда быть повёрнут так, чтобы его раструб был направлен в центр круга траектории.
5) Виджет должен иметь в качестве публичного поля значение угла, на котором находятся источники звука. Один источник звука должен отстоять от верхней точки траектории на заданный угол по часовой стрелке. Другой источник звука должен отстоять от верхней точки против часовой стрелки.
6) Виджет должен принимать стартовое значение угла в конструкторе в в setter. После изменения значения setter должен обновлять изображение виджета.
7) Сегмент круговой траектории между источниками звука и проходящий по верхней части траектории должен быть выделен белой круговой линией толщиной 3 пикселя.
8) Треугольник, вершины которого находятся в местах расположения источников звука и в центре траектории, должен быть залит голубым цветом с прозрачностью 50%.
9) Пользователь должен иметь возможность менять значение угла, а следовательно положение источников звука, с помощью колеса мыши в области виджета, либо с помощью жеста мыши "нажать и тащить". При этом таскание вверх или вправо должно увеличивать угол между источниками звука, а таскание влево или вниз должно уменьшать угол.
10) При этом угол не может быть меньше 0 градусов и не может быть больше 180 градусов.
11) Также должна быть возможность поставить ограничение на максимальное значение угла в конструкторе (опциональное) или через setter. Это ограничение должно быть публично доступно (getter) извне класса. По умолчанию его значение 180 градусов.
12) При установке ограничения через setter, виджет должен приводить текущее значение угла в соответствии с ограничением и обновлять свой внешний вид.
13) Всякий раз, когда значение угла меняется (через воздействие пользователя, или вследствии других причин) нужно эмиттить сигнал с текущим значением угла. Также при всяком изменении угла нужно перерисовывать изображение виджета.