Нужно написать новый класс, который будет заниматься отрисовкой графика для параметрического эквалайзера. Требования к этому классу такие:
1) Класс должен уметь выполнять свою функцию при любом размере виджета. График должен соответствующим образом масштабироваться, чтобы занимать всю доступную площадь.
2) Класс должен отрисовывать график полностью целиком, когда в него передают данные параметрического эквалайзера.
3) Данными параметрического эквалайзера являются три массива данных одинаковой длины. В первом массиве содержатся значения Frequency для полос эквалайзера, во втором массиве значения Gain полос эквалайзера, в третьем массиве - Q value для полос эквалайзера. Количество полос эквалайзера определяется длиной этих массивов.
4) Класс должен уметь правильно отрабатывать значения Frequency, Gain и Q value при построении графика. Большее значение Q Value должно вести к возникновению узкого пика, меньшее значение Q Value должно вести к возникновению широкого пика. В зависимости от ширины пика, значения полос могут сдвигать соседние значения вслед за собой. График должен строиться сплайнами.
5) Класс должен сохранять переданные ему значения для того, чтобы уметь отрисовывать своё содержимое, если этого потребует ОС или фреймворк.
6) Горизонтальная шкала графика должна быть в логарифмическом виде. Левая граница = 20 Гц. Правая граница = 20000 Гц.
7) Вертикальная шкала графика должна быть в Дб. Нижний край графика -12 Дб. Верхний край графика +12 Дб.
8) Фон графика должен быть чёрного непрозрачного цвета.
9) Вдоль горизонтальной шкалы должны быть отметки заданных значений. Отметкой является тонкая вертикальная линия проходящая от самого низа графика до самого верха. Отметки имеют разные цвета линий. Белой линией отмечаются эти значения: 100 Гц, 1000 Гц, 10000 Гц. Серой линией отмечаются эти значения: 20 Гц, 30 Гц, 40 Гц, 50 Гц, 200 Гц, 300 Гц, 400 Гц, 500 Гц, 2000 Гц, 3000 Гц, 4000 Гц, 5000 Гц.
10) Вдоль вертикальной шкалы нужны отметки на значениях: -6 Дб, 0 Дб, +6 Дб. Эти отметки делаются тонкой серой линией проходящей от левого края графика до правого края графика.
11) Сам график параметрического эквалайзера должен быть отрисован синим цветом линией толщиной 3 пикселя.
12) Пространство от графика эквалайзера до низа виджета должно быть залито синим полупрозрачным цветом. В качестве дополнительных точек для контура заливки нужно использовать левый нижний угол и правый нижний угол графика.

